fastapi==0.139.2
uvicorn[standard]==0.35.0

torch==2.7.1
torchvision==0.22.1

numpy==2.3.2
pillow==11.3.0
opencv-python-headless==4.12.0.88

sqlalchemy==2.0.43
python-multipart==0.0.20

google-generativeai==0.8.5

reportlab==4.4.3
matplotlib==3.10.5

requests==2.32.5
pydantic==2.11.7
jinja2==3.1.6

pandas==2.3.1
pytest==8.4.1
